body{
  background: #bdbdbd;
  margin: 0;
}
div{
    box-sizing: border-box;
}

header{
    background: white;
    padding: 10px;
   
}
header h1{
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: royalblue;
}
div.post{
    background: white;
    margin-top: 50px;
}

div.post img {
   width: 600px;
   height: 450px;
 
   }

div.post .post-header div:first-child {
 display: inline-block;
width: 80%;
}

div.post .post-header div:last-child {
 display: inline-block;
width: 20%;
padding: 10px;
text-align: right;
color:grey;
}

div.post h2, div.post p{
    padding: 10px;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: darkslategrey;
   
}


div.container {
  width: 600px;
  margin:  auto;
 
}